:root {
  --base-color: #e7e7e7;
  --text-color: #3d3d3d;
  --secondary-base-color: #ffff;
  --icon-color: #575757;
  --profile-name-color: 3d3d3d;
}

.dark-theme {
  --base-color: #0c151d;
  --text-color: #a3abb2;
  --secondary-base-color: #171f26;
  --icon-color: #a3abb2;
  --profile-name-color: #f1f2f4;
}

body {
  font-family: poppins;
  background-color: var(--base-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

#icon-container {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  background-color: var(--secondary-base-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon-container:hover {
  opacity: 0.8;
}
.icon-svg {
  fill: var(--icon-color);
}
#profile {
  height: 215px;
  width: 631px;
  display: flex;
  gap: 20px;
}

#profile-pic {
  height: 215px;
  width: 215px;
  border-radius: 50%;
  border: 2px solid #fbd144;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
}

#img {
  max-width: 100%;
  height: 90%;
  border-radius: 50%;
}

#profile-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#profile-right-name {
  font-size: 46px;
  font-weight: 500;
  color: var(--profile-name-color);
}

#profile-right-occ {
  font-size: 22px;
  font-weight: 500;
}

#profile-right-icon {
  display: flex;
  gap: 26px;
}

#section2 {
  height: 142px;
  width: 634px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#text-box1 {
  height: 102px;
  width: 148px;
}
p {
  margin: 0;
}

#text-box2 {
  height: 102px;
  width: 125px;
}

#text-box3 {
  height: 102px;
  width: 119px;
}
.text {
  font-size: 22px;
  text-align: center;
}

#section3 {
  height: 80px;
  width: 618px;
  display: flex;
  justify-content: space-between;
}

.button {
  height: 80px;
  width: 290px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#download {
  background-color: #fbd144;
  color: #3d3d3d;
}

#contact {
  background-color: var(--secondary-base-color);
  color: var(--text-color);
}

#section4 {
  height: 110px;
  width: 760px;
  background-color: var(--secondary-base-color);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
}

#section4-left {
  height: 80px;
  width: 351.45px;
  border: none;
  border-radius: 20px;
  margin-left: 20px;
  font-size: 22px;
  color: var(--text-color);
  background-color: var(--base-color);
  cursor: pointer;
}

#section4-right {
  width: 384.39px;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

#section5 {
  height: 826px;
  width: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#section5-row {
  display: flex;
  justify-content: space-between;
}

.section5-box {
  height: 226px;
  width: 362px;
  border-radius: 15px;
  position: relative;
}

.section5-img {
  height: 226px;
  width: 362px;
  border-radius: 15px;
}

.test {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgb(247, 211, 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: var(--text-color);
  font-size: 22px;
  text-align: center;
  gap: 10px;
}

.test:hover {
  opacity: 70%;
}
#small-text {
  font-size: 14px;
}

.test-button {
  height: 38px;
  width: 38px;
  border: none;
  border-radius: 50%;
  background-color: #ffff;
}

#footer {
  height: 33px;
  width: 463px;
  text-align: center;
  font-size: 22px;
}

@media only screen and (max-width: 620px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #icon-container {
    height: 48px;
    width: 48px;
  }
  .icon-svg {
    height: 24px;
    width: 24px;
  }
  #profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #profile-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  #profile-right-name {
    font-size: 32px;
    line-height: 48px;
  }

  #profile-right-occ {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
  }

  #profile-pic {
    height: 124px;
    width: 124px;
  }

  #section2 {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 40px;
    text-align: center;
  }

  #section2 p {
    font-size: 14px;
    line-height: 21px;
  }

  #section3 {
    height: 44px;
    width: 375px;
  }
  .button {
    height: 44px;
    width: 158px;
    font-size: 12px;
  }
  #download-svg {
    width: 16px;
    height: 14px;
  }
  .text {
    font-size: 14px;
  }
  #section4 {
    height: 84px;
    width: 375px;
  }
  #section4-left {
    height: 50.3px;
    width: 154px;
    font-size: 14px;
  }
  #section4-right {
    width: 154px;
    font-size: 14px;
    margin-right: 20px;
  }
  #section5 {
    height: 1430px;
    width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #section5-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
  }

  .section5-img {
    height: 210px;
    width: 340px;
  }
  .section5-box {
    height: 210px;
    width: 340px;
  }
  #footer {
    width: 295px;
    font-size: 14px;
  }
}
